[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_APP_ENV = "production"
  VITE_DEBUG_MODE = "false"

[context.deploy-preview.environment]
  VITE_APP_ENV = "preview"
  VITE_DEBUG_MODE = "true"

[context.branch-deploy.environment]
  VITE_APP_ENV = "development"
  VITE_DEBUG_MODE = "true"
